* {
    font-family: Arial, sans-serif;
}

.subtitulo {
    font-family: "Times New Roman", serif;
}

h1 {
    font-family: Georgia, serif;
}

/* Para el título principal */
h1 {
    font-family: "Noto Sans", sans-serif;
}

/* Para los títulos de las secciones */
h2 {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
}

/* Para todo el documento */
body {
    font-family: "Martel", serif;
    margin: 0;
    
}


html {
    scroll-behavior: smooth;
}
.inicio{
    height: 100%;
}

#contenedor-nav {
    width: 100%;
    height: 56px;
    background-color: #000;
    position: fixed;
    z-index: 99;


}
a{
    color: black;
}


/* Estilos para el nav */
#nav.nav {
    position: fixed;
    /* Fija la posición */
    top: 0;
    /* Lo coloca en la parte superior */
    right: 0;
    /* Lo coloca en la mitad derecha */
    background-color: #EE5007;
    /* Color de fondo naranja */
    color: white;
    /* Texto en blanco */
    padding: 10px;
    /* Espaciado interior */
    width: 50%;
    /* Ocupa la mitad del ancho */
    display: flex;
    /* Utiliza flexbox para alinear elementos */
    justify-content: space-around;
    /* Espaciado uniforme entre elementos */
    align-items: center;
    /* Centra verticalmente los elementos */
    z-index: 999;
    /* Asegura que esté por encima de otros elementos */
    height: 36px;
    border-top-left-radius: 50px 70px;
    /* Redondea la esquina superior izquierda (ajusta los valores según tu preferencia) */
}

#nav.nav li {
    list-style: none;
    /* Quita los puntos de la lista */
    margin: 0 10px;
    /* Espaciado entre elementos de la lista */
}

#nav.nav a {
    text-decoration: none;
    /* Quita el subrayado de los enlaces */
    color: white;
    /* Texto en blanco */
}

/* Estilos adicionales para la navegación (puedes personalizarlos según tus preferencias) */
#nav.nav:hover {
    background-color: #2a2a2a;
    /* Cambia el color de fondo al pasar el ratón */
    transition: background-color 0.3s;
    /* Agrega una transición suave */
}


#sobre_mi{
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
#sobre_mi_flex {
    /* Modo de colocar los elementos internos de manera flexible */
    display: flex;

    /* Eje primario con la dirección de los elementos */
    flex-direction: row;

    /* Separación entre filas */
    row-gap: 0.5rem;

    /* Separación entre columnas */
    column-gap: 0.5rem;

    /* Los elementos ocupan el espacio de acuerdo a su tamaño */
    flex-wrap: wrap;

    /* Los elementos están distribuidos uniformemente en el eje primario  */
    justify-content: space-between;

    /* Los elementos se estiran para llenar el eje transversal */
    align-items: stretch;
    margin: 100px;
    margin-top: 0;
    height: 100%;
    
}

#img {
    flex-basis: 20%;

    /* El espacio restante en el contenedor se distribuirá equitativamente entre todos los elementos internos */
    flex-grow: 1;
    background-image: url(../img/foto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;


}



#info {
    flex-basis: 30%;
    padding: 10px;
    margin: 10px;
    /* El espacio restante en el contenedor se distribuirá equitativamente entre todos los elementos internos */
    flex-grow: 1;
    color: black;
}
#info p{
    margin-left: 10px;
    
}
#info button{
    margin-left: 10px;
    margin-top: 10px;

}

.informacion{
    margin: 0;
    padding: 0;
}
.li_info{
    padding: 10px;
    list-style-type: none;
}
.li_info span:first-child{
    font-weight: 600;
    color: black;
    width: 130px;
}
/* SECCION CONTACTO */
#contacto {
    background-color: white;
}

#div_formulario {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
    border: 10px;
    padding: 40px;
    margin: 300px;
    color: #000;
    text-align: center;

    height: 34rem;
}

#formulario {

    display: block;

    color: #e6e6e6;

}


.cajas_formulario {
    padding: 10px;
    align-content: start;


}


#formulario input[type="text"],
#formulario input[type="email"],
#formulario textarea {
    width: 100%;
    /* Establece el ancho al 100% del contenedor padre */
    padding: 10px;
    /* Ajusta el relleno según tus necesidades */
    margin-bottom: 10px;
    /* Agrega un espacio entre los elementos */
    border: 1px solid #ccc;
    /* Agrega un borde (puedes personalizarlo) */
    border-radius: 5px;
    /* Agrega esquinas redondeadas (puedes ajustar el valor) */
    font-size: 18px;
}

#formulario textarea {
    height: 100px !important;

}

.botones {
    width: 50%;
    /* Deja que el botón tome el ancho necesario */
    padding: 10px;
    /* Ajusta el relleno según tus necesidades */
    background-color: #EE5007;
    /* Establece el color de fondo deseado */
    color: #fff;
    /* Establece el color del texto en blanco */
    border: none;
    /* Elimina el borde del botón (si es necesario) */
    border-radius: 100px;
    /* Agrega esquinas redondeadas (puedes ajustar el valor) */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse sobre el botón */
    font-size: 18px;
}
/* Agrega este CSS a tu archivo de estilos o dentro de una etiqueta <style> en el <head> */
.barra {
    background-color: #EE5007;
    height: 20px;
    border-radius: 5px;
    position: relative;
    transition: width 0.5s ease-in-out; 
    
    
}

.porcentaje {
    margin-top: 5px;
}
.contenido-seccion {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
    margin-bottom: 200px;
    
}

.fila {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* Margen negativo para compensar */
    width: 80%;
}

.col {
    flex: 0 0 calc(50% - 20px); /* Dos columnas en cada fila */
    margin: 10px; /* Margen entre elementos */
}

#proyectos{
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
}
#proyectos h2{
    
    margin: 0;
    padding-top: 50px;
}
.ProyectosFlex{
    width: 80%;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
}
.ProyectosFlex img{
    width: inherit;
}
.ProyectosFlex span{
    font-size: 20px;
    font-family: "Amatic SC", cursive;
    padding: 20px;
}
#contenedorEstudios {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea dos columnas con igual ancho */
    gap: 5px; /* Espacio entre las columnas y filas */
}

#seccionEstudios {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
}
#seccionEstudios h2{
    margin: 0;
    margin-top: 50px;
}


.divEstudios{
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
    
}
.divEstudios span{
    font-size: 20px;
    font-family: "Amatic SC", cursive;
    padding: 20px;
}


/* Estilos generales para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Estilos para las columnas */
.column {
    flex: 1;
    margin: 10px;
}

/* Estilos para los enlaces en "Links" y "Services" */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    padding-bottom: 10px;
}

/* Estilos para "Have a Question?" */
.question {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.question img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Estilos para el texto de derechos de autor */
.copyright {
    text-align: center;
    padding-top: 30px;
}
#footerLinks li a{
    color: white;
    text-decoration: none;

}
